* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body.active {
  overflow: hidden;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  z-index: 1;
}

.sidebar {
  background-color: #3a4652;
  width: 270px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


@media screen and (max-width: 1200px) {
  .sidebar {
    z-index: 10000000;
    left: -100%;
    transition: all .3s ease;
  }

  .sidebar.active {
    left: 0;
  }
}

@media screen and (max-width: 500px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar__title {
  padding: 20px 25px;
  height: 70px;
  color: rgb(255, 255, 255, 0.95);
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.sidebar__menu {
  border-top: 2px solid #2b3641;
  border-bottom: 2px solid #2b3641;
  height: 60px;
  overflow: hidden;
}

.sidebar__btn {
  padding: 20px 15px;
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  background-color: #3a4652;
  color: rgb(255, 255, 255, 0.7);
  text-transform: capitalize;
  font-weight: 700;
  text-align: start;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: baseline;
  gap: 10px;
  transition: all 0.3s ease;
}

.sidebar__btn:hover {
  background-color: #5ac2e7;
  color: rgb(255, 255, 255, 0.9);
}

.sidebar__btn:hover .sidebar__icon {
  color: rgb(255, 255, 255, 0.9);
}

.sidebar__lists {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100vh - 130px);
}

.sidebar__lists::-webkit-scrollbar {
  width: 7px;
}

.sidebar__lists::-webkit-scrollbar-track {
  background: #acacac;
}

.sidebar__lists::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  transition: all 0.5s ease;
}

.sidebar__lists::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c;
  transition: all 0.5s ease;
}

.sidebar__list {
  padding: 15px;
  display: flex;
  align-items: baseline;
  gap: 10px;
  color: rgb(255, 255, 255, 0.7);
  text-transform: capitalize;
  font-weight: 700;
  text-align: start;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar__list.active {
  background-color: #5ac2e7;
  color: rgb(255, 255, 255, 0.9);
}

.sidebar__list:active .sidebar__icon {
  color: rgb(255, 255, 255, 0.9);
}

.sidebar__list:hover {
  background-color: #5ac2e7;
  color: rgb(255, 255, 255, 0.9);
}

.sidebar__list:hover .sidebar__icon {
  color: rgb(255, 255, 255, 0.9);
}

.sidebar__icon {
  color: rgb(255, 255, 255, 0.6);
  font-size: 14px;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  width: calc(100% - 270px);
  position: relative;
  transition: all .3s ease;
}

.main__content.active {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .main__content {
    width: 100%;
  }
}

.main__content-header {
  display: flex;
  width: calc(100% - 270px);
  padding: 0 30px;
  height: 70px;
  background-color: #d6dde5;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transition: all .3s ease;
}

@media screen and (max-width: 1200px) {
  .main__content-header {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .main__content-header {
    padding: 0 5px;
  }
}

.main__content-header.active {
  width: 100%;
}

.main__content-header-list {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.main__content-header-title {
  font-size: 18px;
  font-weight: 700;
  color: #647388;
}

.main__content-inputs {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 270px);
  gap: 1.6rem;
  padding: 0.5rem 3rem 1rem;
  border-bottom: 1px solid rgb(187, 184, 184);
  position: fixed;
  top: 70px;
  right: 0;
  background-color: #fff;
  border-top: 2px solid #727376;
  border-bottom: 2px solid #727376;
  z-index: 3;
  transition: all .3s ease;
}

@media screen and (max-width: 1200px) {
  .main__content-inputs {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .main__content-inputs {
    gap: 10px;
    height: 110px;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .main__content-inputs {
    padding: 5px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main__content-inputs.active {
  width: 100%;
}

.inputs__box {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

@media screen and (max-width: 650px) {
  .inputs__box {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 500px) {
  .inputs__box {
    flex-wrap: wrap;
    width: 66%;
    gap: 5px;
  }

  .inputs__box:nth-of-type(2) {
    flex-wrap: wrap;
    width: 33%;
    gap: 5px;
    height: 100%;
    align-items: flex-start;
    padding: 2.5px;
  }
}

.inputs__box-actions {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

@media screen and (max-width: 500px) {
  .inputs__box-actions {
    width: 48%;
  }

  .inputs__box-action {
    width: 100% !important;
  }
}

.inputs__label {
  color: #3a4652;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
}

.inputs__input {
  padding: 0.4rem 1rem;
  background-color: rgb(240, 240, 240);
  outline: none;
  height: 27px;
  color: #696969;
  border: 1px solid #b5b7b9;
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: 500;
  width: 180px;
}

@media screen and (max-width: 950px) {
  .inputs__input {
    width: 100px;
  }
}

@media screen and (max-width: 650px) {
  .inputs__input {
    width: 100%;
  }
}

.inputs__filter {
  padding: 0.4rem;
}

.inputs__input:focus {
  color: #3a4652;
  border: 1px solid #3a4652;
  background-color: white;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  height: 27px;
  width: 100px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn__icon {
  font-size: 20px;
  cursor: pointer;
  transition: all .3s ease;
}

.btn__icon-edit {
  color: #34b93d;
}

.btn__icon-delete {
  color: #c70b0b;
}

.btn__icon:hover {
  opacity: .7;
}

.btn__icon-toggle {
  font-size: 18px;
  transform: rotate(0deg);
  transform-origin: center;
  transition: all .3s ease;
}

.btn__icon-toggle.active {
  transform: rotate(180deg);
}

@media screen and (max-width: 1200px) {
  .btn__icon-toggle {
    transform: rotate(180deg);
  }

  .btn__icon-toggle.active {
    transform: rotate(0deg);
  }
}

.btn:hover {
  opacity: 0.8;
}

.btn-add {
  background-color: #34b93d;
}

@media screen and (max-width: 500px) {
  .btn-add {
    width: 48%;
  }
}

.main__content-list {
  margin-top: 140px;
  padding: 0.5rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
}

@media screen and (max-width: 650px) {
  .main__content-list {
    margin-top: 190px;
  }
}

@media screen and (max-width: 500px) {
  .main__content-list {
    padding: 0 5px;
  }
}

.list__product {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(187, 184, 184);
}

@media screen and (max-width: 500px) {
  .list__product {
    flex-direction: column;
  }
}

.list__item:last-child .list__product {
  border-bottom: none;
  padding-bottom: 0;
}

@keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }

  100% {
    height: 12.5px;
  }
}

@keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }

  50% {
    height: 0;
  }

  100% {
    height: 30px;
  }
}

input[type='checkbox'] {
  display: none;
}

.check-box {
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 2.5px solid #000;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  transition: border-color ease 0.2s;
  cursor: pointer;
}

.check-box::before,
.check-box::after {
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 5px;
  background-color: #34b93d;
  display: inline-block;
  transform-origin: left top;
  border-radius: 5px;
  content: ' ';
  transition: opacity ease 0.5s;
}

.check-box::before {
  top: 18px;
  left: 10.25px;
  box-shadow: 0 0 0 1.25px #fff;
  transform: rotate(-135deg);
}

.check-box::after {
  top: 9.25px;
  left: 1.25px;
  transform: rotate(-45deg);
}

input[type='checkbox']:checked+.check-box,
.check-box.checked {
  border-color: #34b93d;
}

input[type='checkbox']:checked+.check-box::after,
.check-box.checked::after {
  height: 12.5px;
  animation: dothabottomcheck-19 0.2s ease 0s forwards;
}

input[type='checkbox']:checked+.check-box::before,
.check-box.checked::before {
  height: 30px;
  animation: dothatopcheck-19 0.4s ease 0s forwards;
}

input[type='checkbox']:checked~.list__product .list__product-name {
  text-decoration: line-through;
  color: #999;
}

.list__product-checkbox:checked~.list__product-name {
  text-decoration: line-through;
}

.list__product-name,
.list__product__category {
  margin-left: 2rem;
}

.list__product-name {
  font-size: 1.8rem;
  color: #333;
  font-weight: 300;
}

@media screen and (max-width: 500px) {
  .list__product-name {
    margin: 0 auto;
  }
}

.list__product__category {
  align-self: flex-end;
  font-weight: 500;
  font-size: 14px;
  color: #2c7c99;
  border-radius: 3px;
  padding: 0.4rem 2.4rem;
  background-color: #6ad0f5;
  text-transform: lowercase;
  letter-spacing: +1px;
}

@media screen and (max-width: 500px) {
  .list__product__category {
    width: 30%;
    margin: 0 auto;
  }
}

.btn-edit {
  background-color: #5ac2e7;
}

.btn-delete {
  background-color: #c70b0b;
}

@media screen and (max-width: 500px) {
  .btn-delete {
    width: 50%;
    margin: 0 auto;
  }
}

.btn__icon-close {
  display: none;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
}

@media screen and (max-width: 1200px) {
  .btn__icon-close {
    display: block;
  }
}

.ml {
  margin-left: auto;
}

.list__creation {
  margin-bottom: 20px;
}

.list__names,
.list__items {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.list__names h3,
.list__items h3 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.list__names ul,
.list__items ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list__names ul li,
.list__items ul li {
  padding: 5px 0;
  cursor: pointer;
}

.list__names ul li:hover,
.list__items ul li:hover {
  background-color: #f0f0f0;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 0%, 0.7);
  z-index: 999999999999999999999;
}

.overlay.active {
  display: block;
}

.overlay__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  background-color: #3a4652;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.overlay__modal-title {
  font-size: 22px;
  color: white;
  opacity: 0.7;
  font-weight: 400;
  text-transform: capitalize;
}

.overlay__modal-text {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 22px;
  font-weight: 400;
  color: #3a4652;
  background-color: rgb(240, 240, 240);
}

.overlay__modal-text:focus {
  background-color: white;
}

.overlay__modal-btns {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.overlay__modal-btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 0;
  width: 50%;
  border: none;
  transition: all 0.3s ease;
  font-size: 20px;
  font-weight: 700;
  color: #3a4652;
  background-color: white;
  transition: all 0.2s ease;
  text-transform: capitalize;
}

.overlay__modal-btn:hover {
  background-color: rgb(240, 240, 240);
}

.overlay__modal-btn:disabled {
  background-color: rgb(134, 134, 134);
  cursor: default;
}